<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

    <title>Black Jack</title>
</head>

<body>
    <div id="card-main-template">
        <form method="post" action="http://localhost:4567/result">
            <table>
                <thead>
                <tr>
                    <th>게시글번호</th>
                    <th>제목</th>
                </tr>
                </thead>
                <tbody id="card-template">
                {{#result}}
                    {{cardShape}}
                {{/result}}
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>


            <input type="submit" value="hit"/>
            <button type="button" onclick="zz()">zzz</button>
        </form>
    </div>

    <script src="/js/main.js"></script>




    <script id="entry-template" type="text/x-handlebars-template">
        <table>
            <thead>
            <th>이름</th>
            <th>아이디</th>
            <th>메일주소</th>
            </thead>
            <tbody>
            {{#users}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{id}}</td>
                    <td><a href="mailto:{{email}}">{{email}}</a></td>
                </tr>
            {{/users}}
            </tbody>
        </table>
    </script>


</body>
</html>

